body{
    background-color:lightblue;
}
h1{
    color:navy;
    margin-left:20px;
}
.centered{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#rcorners1{
    border-radius:20px;
    border: 5px solid #73AD21;
    padding:20px;
    width:700px;
    height:50px;
}
#para1{
    font-family: 'Baloo Bhaina 2', cursive;
    margin-left: 20px;
    margin-right: 20px;
}
#para2{
    font-family: 'Baloo Bhaina 2', cursive;
    font-size:20px;
    margin-left: 20px;
    margin-right: 20px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px
}